In [1]:
import pandas as pd

In [2]:
#Create a variable for file directory

file_dir = 'C://Users/keemah/Class/archive/'

In [3]:
#Read the Kaggle data files

kaggle_metadata = pd.read_csv(f'{file_dir}movies_metadata.csv', low_memory=False)
ratings = pd.read_csv(f'{file_dir}archive/ratings.csv')

In [4]:
#Inspect a sample of the kaggle metadata dataframe

kaggle_metadata.sample(n=5)

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
44277,False,NaN,0,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",NaN,30885,tt0072354,en,Vampyres,A lesbian vampire couple haunt an abandoned ca...,...,1974-01-01,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"They shared the pleasures of the flesh, and th...",Vampyres,False,4.6,17.0
42436,False,"{'id': 436483, 'name': 'Bad Kids Collection', ...",5000000,"[{'id': 9648, 'name': 'Mystery'}, {'id': 35, '...",https://www.crestview-academy.com/,426580,tt3349578,en,Bad Kids of Crestview Academy,"It's four years later, and a new group of stud...",...,2017-01-13,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Detention sucks but it's killer fun,Bad Kids of Crestview Academy,False,4.8,13.0
42167,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 12, 'n...",NaN,401222,tt2278870,en,ISRA 88,When a scientist and a pilot volunteer for a h...,...,2016-08-08,0.0,119.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Their mission was to reach the edge of the uni...,ISRA 88,False,5.0,13.0
1525,False,NaN,75000000,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,8834,tt0118883,en,Conspiracy Theory,A man obsessed with conspiracy theories become...,...,1997-08-07,136982834.0,135.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,What if your most paranoid nightmares had just...,Conspiracy Theory,False,6.5,440.0
3628,False,NaN,0,[],NaN,207731,tt0217287,en,Boricua's Bond,"Tommy, a talented Puerto Rican painter living ...",...,NaN,0.0,105.0,[],Released,NaN,Boricua's Bond,False,2.0,1.0

In [5]:
#Inspect a sample of the ratings dataframe

ratings.sample(n=5)

          userId  movieId  rating   timestamp
15215292  158338       17     5.0   856213615
1081730    11042     1617     4.5  1065061997
22921955  238064    39398     4.5  1199137629
12378120  128401      288     3.0   829637515
3040548    31773     8340     4.5  1119027286